@media (prefers-color-scheme: light) {
	:root {
		--color-background: var(--color-light-background);
		--color-border: var(--color-light-border);
		--color-hover: var(--color-light-hover);
		--color-tab: var(--color-light-tab);
		--color-tab-text: var(--color-light-tab-text);
		--color-action: var(--color-light-action);
		--color-action-text: var(--color-light-action-text);
		--color-bookmark: var(--color-light-bookmark);
		--color-bookmark-text: var(--color-light-bookmark-text);
		--color-support: var(--color-light-support);
		--color-support-text: var(--color-light-support-text);
		--color-quicklink: var(--color-light-quicklink);
		--color-quicklink-text: var(--color-light-quicklink-text);
		--color-tool: var(--color-light-tool);
		--color-tool-text: var(--color-light-tool-text);
		--color-key: var(--color-light-key);
		--color-key-text: var(--color-light-key-text);
		--color-text: var(--color-light-text);
		--color-text-hover: var(--color-light-text-hover);
		--color-search-placeholder: var(--color-light-search-placeholder);
		--color-placeholder: var(--color-light-placeholder);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--color-dark-background);
		--color-border: var(--color-dark-border);
		--color-hover: var(--color-dark-hover);
		--color-tab: var(--color-dark-tab);
		--color-tab-text: var(--color-dark-tab-text);
		--color-action: var(--color-dark-action);
		--color-action-text: var(--color-dark-action-text);
		--color-bookmark: var(--color-dark-bookmark);
		--color-bookmark-text: var(--color-dark-bookmark-text);
		--color-support: var(--color-dark-support);
		--color-support-text: var(--color-dark-support-text);
		--color-quicklink: var(--color-dark-quicklink);
		--color-quicklink-text: var(--color-dark-quicklink-text);
		--color-tool: var(--color-dark-tool);
		--color-tool-text: var(--color-dark-tool-text);
		--color-key: var(--color-dark-key);
		--color-key-text: var(--color-dark-key-text);
		--color-text: var(--color-dark-text);
		--color-text-hover: var(--color-dark-text-hover);
		--color-search-placeholder: var(--color-dark-search-placeholder);
		--color-placeholder: var(--color-dark-placeholder);
	}
}
:root {
	--overlay-color: rgba(0, 0, 0, 0.75);
	--transparent: rgba(0, 0, 0, 0);
	--z-index-front: 2147483647;
	--z-index-middle: 1073741823;
	--z-index-back: -2147483648;
	--color-dark-background: #191919;
	--color-dark-border: #2b2b2b;
	--color-dark-hover: #292929;
	--color-dark-tab: #001c0d;
	--color-dark-tab-text: #1e9850;
	--color-dark-action: #72000c;
	--color-dark-action-text: #ee1e34;
	--color-dark-bookmark: #004865;
	--color-dark-bookmark-text: #11b3f3;
	--color-dark-support: #480065;
	--color-dark-support-text: #9c11f3;
	--color-dark-quicklink: #5b6500;
	--color-dark-quicklink-text: #d9f311;
	--color-dark-tool: #646464;
	--color-dark-tool-text: #efefef;
	--color-dark-key: #4b4b4b;
	--color-dark-key-text: #e2e2e2;
	--color-dark-text: #cdcdcd;
	--color-dark-text-hover: #ffffff;
	--color-dark-search-placeholder: #5f5f5f;
	--color-dark-placeholder: #292929;
}

@font-face {
	font-family: 'Segoe UI Light';
	font-style: normal;
	font-weight: 300;
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Segoe-UI.ttf');
}
@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: 400;
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Segoe-UI.ttf');
}
@font-face {
	font-family: 'Segoe UI Medium';
	font-style: normal;
	font-weight: 500;
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Segoe-UI.ttf');
}
@font-face {
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: 600;
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Segoe-UI.ttf');
}

.paths-extension * {
	display: block;
	width: unset;
	box-shadow: unset;
	padding: unset;
	margin: unset;
	font-family: unset;
	background-color: unset;
	border-radius: unset;
}
.paths-extension {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.paths-hidden {
	display: none;
}
.paths-extension ::-webkit-scrollbar {
	width: 8px;
}
.paths-extension ::-webkit-scrollbar-track {
	background-color: var(--transparent);
}
.paths-extension ::-webkit-scrollbar-thumb {
	background-color: var(--color-border);
	border-radius: '8px';
}
.paths-extension ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-hover);
	border-radius: '4px';
}
.paths-extension ::-webkit-input-placeholder {
	font-family: 'Segoe UI Medium';
	font-size: 12px;
	line-height: normal;
	color: rgba(255, 255, 255, 0.786);
}
.paths-extension input {
	width: 100%;
	height: 100%;
	border: 0px;
	outline: 0px;
	color: rgba(255, 255, 255, 0.786);
}
.paths-extension input:focus {
	outline: none;
	border: none;
}
.paths-extension #paths-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--overlay-color);
	z-index: var(--z-index-back);
}
.paths-extension #paths-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	position: absolute;
	width: 1200px;
	height: 724px;
	left: calc(50% - 1200px / 2);
	top: calc(50% - 724px / 2);
	background: linear-gradient(0deg, rgba(32, 32, 32, 1), rgba(32, 32, 32, 1)), rgba(32, 32, 32, 1);
	background-blend-mode: normal, color, luminosity;
	border: 1px solid rgba(117, 117, 117, 0.4);
	box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.37), 0px 2px 21px rgba(0, 0, 0, 0.37);
	border-radius: 8px;
}
.paths-extension #paths {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 32px;
	gap: 24px;
	width: auto;
	height: -webkit-fill-available;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}
.paths-extension #paths-search {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 8px;
	width: auto;
	background: rgba(255, 255, 255, 0.0605);
	border: 1px solid rgba(255, 255, 255, 0.093);
	border-radius: 8px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-quotes {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 8px;
	width: auto;
	height: auto;
	background: rgba(43, 114, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.093);
	border-radius: 8px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-quotes-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 10px;
	width: 832px;
	height: 32px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-quotes-emoji {
	min-width: 32px;
	min-height: 32px;
	max-width: 32px;
	max-height: 32px;
	background: url('chrome-extension://__MSG_@@extension_id__/assets/crystal-ball.png');
	background-size: 32px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-quotes-text {
	width: fit-content;
	height: auto;
	font-family: 'Segoe UI Regular' !important;
	font-style: normal;
	font-size: 12px;
	line-height: 12px;
	color: rgba(255, 255, 255, 0.786);
	flex: none;
	order: 1;
	flex-grow: 1;
}
.paths-extension #paths-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: auto;
	height: 516px;
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
	padding-right: 24px;
	overflow-y: overlay;
	overflow-x: hidden;
}
.paths-extension #paths-search-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	margin: 0px;
	background-color: var(--transparent);
	border-color: var(--transparent);
	width: 100%;
	height: auto;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 12px;
	width: auto;
	flex: none;
	order: 4;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 16px;
	width: auto;
	height: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-title-icon {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	width: 16px;
	height: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-title-text {
	font-family: 'Segoe UI Bold';
	line-height: 14px;
	font-size: 14px;
	color: #ffffff;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-results-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	width: -webkit-fill-available;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-results-group-heading {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 0px 8px 0px;
	gap: 8px;
	width: auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.0837);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-results-group-heading-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	width: 100%;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-results-group-heading-container span {
	width: auto;
	height: auto;
	font-family: 'Segoe UI Regular';
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.786);
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-results-group-columns-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0px;
	gap: 32px;
	width: 100%;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.paths-extension #paths-shortcuts-section-results-group-column-1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	max-width: 340px;
	flex: none;
	order: 0;
	flex-grow: 1;
}
.paths-extension #paths-shortcuts-section-results-group-column-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	max-width: 340px;
	flex: none;
	order: 1;
	flex-grow: 1;
}
.paths-extension #paths-shortcuts-section-results-group-column-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	max-width: 340px;
	flex: none;
	order: 2;
	flex-grow: 1;
}
.paths-extension #paths-shortcut {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	width: 100%;
	height: 32px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.paths-extension #paths-result-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	flex: none;
	order: 0;
	flex-grow: 1;
}
.paths-extension #paths-action {
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-action span {
	font-family: 'Segoe UI Light';
	font-size: 12px;
	line-height: normal;
	color: rgba(255, 255, 255, 0.786);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 180px;
}
.paths-extension #paths-result-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0px;
	gap: 4px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.paths-extension #paths-combination {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 2px;
	width: auto;
	height: 22px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-combination-key {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4px 6px;
	min-width: 24px;
	min-height: 24px;
	background: rgba(255, 255, 255, 0.0605);
	border-radius: 2px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.paths-extension #paths-combination-key span {
	width: auto;
	height: 14px;
	font-family: 'Segoe UI Light';
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: rgba(255, 255, 255, 0.786);
	flex: none;
	order: 0;
	flex-grow: 0;
}
